{% load static %}
<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <title>Cuina</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

    {% include 'components/navbar.html' %}
    <div class="layout">
        {% include 'components/aside.html' %}
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>

    {% include 'components/footer.html' %}

</body>
</html>
